.vscode/
.idea/
*.o
*.d
*.a
*.so
*fdp*
*bite*
*~*
\#*\#
vgcore.*
cmake*
CMakeLists.txt
zappy_ai
zappy_server
zappy_graphic
__pycache__/
reference_server
graphical_client/graphical_client
CMakeCache.txt
CMakeFiles/
zappy
venv
